/Schmitt_Assignment_1/target/
/InClassWeek3/SchmittInClassExcersise3/target/
/Assignment 2/Schmitt_VProfits/target/
/SchmittCodeCamp/target/
/BuildingObjectsInClass/target/
/Assignment 3/SchmittPracticeObjects/target/
/MakeMusic/target/
